.footer {
  padding: 1rem;
  background-color: rgb(135, 230, 230);
}

@keyframes productos {
  from {
    transform: scale(0);
  }
}

.footer__titulo {
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
  font-weight: bolder;
}

@media screen and (min-width: 830px) {
  .footer__titulo {
    font-size: var(--fontsize-titulo);
  }
}

.footer__sociales {
  display: grid;
  grid-gap: 1rem;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-size: var(--fontsize-small);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

@media screen and (min-width: 830px) {
  .footer__sociales {
    font-size: var(--fontsize-normal);
  }
}

.footer__link {
  text-decoration: none;
  color: var(--color-linkFootter);
  display: flex;
  align-items: center;
}

.footer_copy {
  text-align: center;
  font-size: var(--fontsize-small);
}

@media screen and (min-width: 830px) {
  .footer_copy {
    font-size: var(--fontsize-normal);
  }
}

.icono__1 {
  display: block;
  margin: .5rem;
  font-size: var(--fontsize-normal);
}

@media screen and (min-width: 640px) {
  .icono__1 {
    font-size: 2rem;
    display: initial;
  }
}

.footer__whas {
  width: 160px;
}

@media screen and (min-width:630px) {
  .footer__whas {
    width: 173px;
  }
}

@media screen and (min-width:830px) {
  .footer__whas {
    width: 230px;
  }
}

.footer__face {
  width: 94px;
}

@media screen and (min-width:830px) {
  .footer__face {
    width: 130px;
  }
}

.footer__animacion {
  animation: footer__animacion 3s forwards;
  animation-play-state: var(--stop5);
}

@keyframes footer__animacion {
  from {
    opacity: 0;
  }
}

.icono__flotante {
  position: fixed;
  width: 14%;
  bottom: 2%;
  right: 4%;
  font-size: 2.5rem;
  display: block;
  text-align: center;
  z-index: 50;
}

@media screen and (min-width: 830px) {
  .icono__flotante {
    width: 4%;
    right: 2%;
  }
}

.logo__whatsapp {
  width: 100%;
  opacity: 1;
}

.logo__whatsapp:hover {
  opacity: .8;
}