
@media screen and (min-width: 830px) {
  .menu__item:first-child {
    background-color: var(--color-primario1);
    position: relative;
  }

  .menu__item:first-child::before {
    content: "";
    display: block;
    background-color: black;
    height: 2rem;
    width: 30%;
    position: absolute;
    bottom: -.9rem;
    transform: translate(50%) rotate(52deg);
    z-index: -1;
    background-color: var(--color-primario1);
    border: 2px solid gray;
  }
}

.panel {
  text-align: center;
  background-image: url("../images/logo.webp");
  color: white;
  background-size: cover;
  background-position: center;
  height: 550px;
  position: relative;
}

@media screen and (min-width: 830px) {
  .panel {
    height: 47rem;
    background-attachment: fixed;
    background-position: center top;
    background-size: 93.7rem;
    margin-top: 7rem;
  }
}

@keyframes panel {
  100% {
    filter: opacity(1);
  }
}

.panel::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.panel__titulo {
  filter: opacity(0);
  animation: panel 3s 1 forwards;
  position: absolute;
  font-size: 2rem;
  top: 15%;
  width: 90%;
  right: 50%;
  transform: translate(50%);
}

@media screen and (min-width: 830px) {
  .panel__titulo {
    font-size: 4rem;
  }
}

.panel__subtitulo {
  filter: opacity(0);
  animation: panel 2s 1 forwards;
  position: absolute;
  font-size: 1.4rem;
  top: 30%;
  right: 50%;
  transform: translate(50%);
  width: 90%;
}

@media screen and (min-width: 830px) {
  .panel__subtitulo {
    font-size: 2.3rem;
  }
}

.panel__descripcion {
  font-weight: 600;
  filter: opacity(0);
  animation: panel 1.5s 2s 1 forwards;
  position: absolute;
  top: 57%;
  right: 50%;
  transform: translate(50%);
  width: 90%;
  font-size: 1.1rem;
}

@media screen and (min-width: 830px) {
  .panel__descripcion {
    font-size: 1.6rem;
  }
}

.panel .small {
  filter: opacity(0);
  animation: panel 3s 1s 1 forwards;
  display: block;
  margin-top: 1.1rem;
  font-size: .8rem;
}

@media screen and (min-width: 830px) {
  .panel .small {
    font-size: 1.2rem;
  }
}

.panel__boton {
  filter: opacity(0);
  animation: panel 3s 2s 1 forwards;
  text-align: center;
  background-color: var(--color-botones);
  color: white;
  width: 8rem;
  padding: .4rem;
  position: absolute;
  bottom: 4rem;
  right: 50%;
  transform: translate(50%);
  font-size: .8rem;
  width: 40%;
  transition: background-color 1s;
}

@media screen and (min-width: 830px) {
  .panel__boton {
    font-size: var(--fontsize-normal);
    width: 15%;
    padding: 1.3rem;
  }
}

.panel__boton:hover {
  background-color: var(--hoverbotonpanel);
}

.panel__link {
  text-decoration: none;
  color: white;
  display: block;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: scale(1);
  animation: productos 2s;
  animation-play-state: var(--stop);
}

@keyframes productos {
  from {
    transform: scale(0);
  }
}

.productos__img {
  width: 55%;
  background-color: var(--color-prymario);
}

@media screen and (min-width: 440px) {
  .productos__img {
    width: 30%;
  }
}

@media screen and (min-width: 830px) {
  .productos__img {
    flex: 1;
  }
}

.vid__item {
  width: 100%;
}

.video {
  color: white;
  background-color: var(--color-botones);
  padding-bottom: 2rem;
  display: flex;
  animation: video 3s forwards;
  animation-play-state: var(--stop6);
}

@keyframes video {
  from {
    opacity: 0;
  }
}

.video__texto {
  display: none;
}

@media screen and (min-width: 830px) {
  .video__texto {
    flex: 1;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    text-align: center;
  }
}

.video__item {
  width: 100%;
}

@media screen and (min-width: 830px) {
  .video__item {
    flex: 1;
    width: 54%;
    height: 250px;
    padding-right: 167px;
    margin-top: 1rem;
  }
}